<!-- This section is designed and built by Luna Templates. Find more at https://lunatemplates.co -->

<div id="{{ section.settings.link_anchor }}" class="lunatemplates-anchor"> </div>

{% schema %}
  {
    "name": "💫 Anchor link",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "text",
        "id": "link_anchor",
        "label": "Anchor Name"
      }
    ],
   "presets": [
      {
        "name": "💫 Anchor link",
        "category": "Luna Templates"
      }
    ]
  }
{% endschema %}

<style>
  html {
      scroll-behavior: smooth;
  }
</style>