/***********************/
/***** custom - am *****/
/***********************/

/*** Announcement Bar ***/

.announcement-container {
  width: 100%;
  float: none;
  display: block;
  text-align: center;
  padding: 10px 0;
}
.announcement-line {
  display: inline-block;
}
.announcement-container .link,
.announcement-bar__link  {
  display: unset;
  padding: 0;
}
.announcement-bar__message  {
  padding: 0;
}
.announcement-country {
  border: 2px solid #373033;
  background: rgba(0,0,0,0.25);
  padding: 2px 10px;
  border-radius: 50px;
  position: absolute;
  right: 10px;
  top: 6px;
}
.country-link {
  color: rgb(var(--color-foreground));
  text-decoration: none;
}
.country-link:hover {
  color: #fd856d;
}
.country-link-two {
  color:#54CDDF;
}
@media (max-width: 990px) {
  .announcement-line {
    display: grid !important;
  }
  .announcement-country {
    position:unset !important;
    grid-row: 1;
    max-width: max-content;
    margin: 0 auto 10px;
  }
}

@media (min-width: 990px) {
  .announcement-bar .page-width {
    max-width: unset;
  }
  .announcement-bar__message  {
    margin: 0 122px;
  }
}

.announcement-bar .not-bold-text {
  font-weight:400;
}


/*** social icons ***/

.footer__list-social li .list-social__link {
  max-width: 40px;
  max-height: 40px;
}
#menu-drawer .tiktok-icon .list-social__link {
  margin: 8px;
  background-color: #54cddf;
  border-radius: 100px;
  max-width: 40px;
  max-height: 40px;
}
#menu-drawer .tiktok-icon .list-social__link path {
  fill: #fff;
}
#menu-drawer .tiktok-icon {
  align-items: center;
  display: flex;
}


/*** footer ***/

@media (min-width: 750px){
  .footer-block__details-content .list-menu__item--link {
    /* font-size: 12px !important; */
  }
  .footer__content-top {
    padding: 0 1.5rem;
  }
}

.footer-block__image-wrapper {
  margin-bottom: 0 !important;
}

.footer__copyright {
  transform: translatey(-10px);
}
@media (max-width: 749px){
  .footer__copyright {
    transform: translatey(-15px);
  }
}



@media screen and (min-width: 750px) {
  .footer__content-top .grid--3-col-tablet .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
  }
  .footer-block.grid__item:nth-of-type(5) {
    display:none;
  }
}

@media(max-width: 749px) {
  .footer-block.grid__item:nth-of-type(1) {
    display:none;
  }
}

.footer-block--menu:nth-of-type(4) li:nth-of-type(1) a {
  background-color: #fd8b72;
}
.footer-block--menu:nth-of-type(4) li:nth-of-type(2) a {
  background-color: #54cddf;
  margin-top:20px;
}
.footer-block--menu:nth-of-type(4) li:nth-of-type(1) a,
.footer-block--menu:nth-of-type(4) li:nth-of-type(2) a {
  width: max-content; /*123px*/
  padding: 5px 15px;
  border-radius: 50px;
  color: #fff;
}
