/***********************/
/***** custom - am *****/
/***********************/


/*** social icons ***/
.footer__list-social li .list-social__link{
  max-width: 40px;
  max-height: 40px;
}

/*** footer ***/
@media (min-width: 750px){
  .footer-block__details-content .list-menu__item--link {
    /* font-size: 12px !important; */
  }
  .footer__content-top {
    padding: 0 1.5rem;
  }
}

.footer-block__image-wrapper {
  margin-bottom: 0 !important;
}

.footer__copyright {
  transform: translatey(-10px);
}
@media (max-width: 749px){
  .footer__copyright {
    transform: translatey(-15px);
  }
}



@media screen and (min-width: 750px) {
  .footer__content-top .grid--3-col-tablet .grid__item {
    width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
  }
  .footer-block.grid__item:nth-of-type(5) {
    display:none;
  }
}

@media(max-width: 749px) {
  .footer-block.grid__item:nth-of-type(1) {
    display:none;
  }
}

.footer-block--menu:nth-of-type(4) li:nth-of-type(1) a {
  background-color: #fd8b72;
}
.footer-block--menu:nth-of-type(4) li:nth-of-type(2) a {
  background-color: #54cddf;
  margin-top:20px;
}
.footer-block--menu:nth-of-type(4) li:nth-of-type(1) a,
.footer-block--menu:nth-of-type(4) li:nth-of-type(2) a {
  width: max-content; /*123px*/
  padding: 5px 15px;
  border-radius: 50px;
  color: #fff;
}
